<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="front-common :: commonCss(~{::title},~{},~{},~{::style})">
    <title>登录</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        .frame{
            background-color: #f4f4f4;
            margin-top: 80px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: darkgrey 5px 5px 20px 5px ;
        }
        .layui-elip {
            font-size: 24px;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4 frame">
            <header class="layui-elip">登录</header>
            <form class="layui-form layui-form-pane layui-row layui-col-space30">
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-block">
                            <input type="text" id="username" class="layui-input" placeholder="请输入账号" autocomplete="off" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="password" id="password" class="layui-input" placeholder="请输入密码" autocomplete="off" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">验证码</label>
                        <div class="layui-input-inline" style="width: 110px;">
                            <input type="text" id="securityCode" class="layui-input" placeholder="请输入验证码" autocomplete="off" >
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <!--当鼠标悬停在图片上时，会显示“点击更换”。-->
                            <!--使用 Thymeleaf 语法设置图片的 URL，这里使用了 /kaptcha/render 路径，该路径通常用于获取生成的验证码图片-->
                            <img id="securityCodeImg" alt="点击更换" title="点击更换" th:src="@{/kaptcha/render}"/>
                        </div>
                    </div>
                    <div class="layui-col-md12" style="display: flex;align-items: center;justify-content: center;">
                        <button id="loginBtn" type="button" class="layui-btn" value="登录">登录</button>
                        <button type="button" class="layui-btn layui-btn-normal" value="注册" onclick="location.href='/register'">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
   /**
    * layui.use('util', function(){ ... });：使用 layui 的 util 模块。
    * util.fixbar({ ... });：创建一个固定块（fixbar）。
    * bar1: '&#xe65c;'：固定块的图标，使用 layui 的图标。
    * css: {right: 50, bottom: 100}：固定块的位置。
    * bgcolor: '#393D49'：固定块的背景色。
    * click: function(type){ ... }：点击固定块时的回调函数，如果点击的是 bar1，则跳转到首页。
    * */
    layui.use('util', function(){
        var util = layui.util;
        //固定块<fixbar>
        util.fixbar({
            bar1: '&#xe65c;'
            ,css: {right: 50, bottom: 100}
            ,bgcolor: '#393D49'
            ,click: function(type){
                if(type === 'bar1'){
                    location.href='/index';
                }
            }
        });
    });

    /**
     * $(function (){ ... });：jQuery 的 DOM 加载完成后执行的代码。
     * $("#username").focus();：页面加载后，用户名输入框获得焦点。
     * $(window).keydown(function (event){ ... });：监听键盘事件，如果按下回车键（keyCode 为 13），则调用 login() 函数。
     * $("#loginBtn").click(function (){ ... });：登录按钮点击事件，调用 login() 函数。
     * $("#securityCodeImg").bind("click", function () { ... });：验证码图片点击事件，重新加载新的验证码图片。
     * */
    $(function (){
        $("#username").focus();

        $(window).keydown(function (event){
            if(event.keyCode === 13){
                login();
            }
        })

        $("#loginBtn").click(function (){
            login();
        });

        $("#securityCodeImg").bind("click", function () {
            $(this).hide().attr('src', '/kaptcha/render?' + Math.random()).fadeIn();
        });
    });
    /**
     * 获取输入值：获取用户名、密码和验证码的值。
     * 验证输入：检查用户名、密码和验证码是否为空。
     * 发起 AJAX 请求：向 /login 发送 POST 请求，携带用户名、密码和验证码。
     * 处理响应：如果登录成功，跳转到首页；如果登录失败，重新加载验证码图片并显示错误消息。
     * */
    function login(){
        var username = $.trim($("#username").val());
        var password = $.trim($("#password").val());
        var code = $("#securityCode").val();

        if(username==='' || password===''){
            layer.msg("请输入用户名及密码");
            return false;
        }

        if(code===''){
            layer.msg("请输入验证码");
            return false;
        }
        $.ajax({
            url: '/login',
            type: 'post',
            dataType: 'json',
            data: {
                "username": username,
                "password": password,
                "code": code
            },
            success: function (data){
                if(data.success){
                    location.href='index';
                }else {
                    $("#securityCodeImg").attr("src",'/kaptcha/render?' + Math.random());
                    layer.msg("登录失败，"+data.msg);
                }
            }
        })
    }
</script>
</body>
</html>